<template id="headerTemplate">
    <header>
        <nav>
            <ul class="navigation">
                <li><button class="headerButtons" id="homeButton">Home</button></li>
                <li><button class="headerButtons">About</button></li>
                <li><button class="headerButtons" id="createButton">Create</button></li>
                <li><button class="headerButtons" id="loginButton">Sign In</button></li>
            </ul>
        </nav>
        <div class="search-container">
            <input type="text" class="search-input" placeholder="Search" />
            <button class="search-button">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
                    viewBox="0 0 16 16">
                    <path
                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.033.063.063.098.094l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.078zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                </svg>
            </button>
        </div>
    </header>
</template>