<template id="moodboardTemplate">
    <div class="moodboard-container">
        <div class="moodboard">
            <div class="moodboard-item"></div>
            <div class="moodboard-item"></div>
            <div class="moodboard-item"></div>
            <div class="moodboard-item"></div>
            <div class="moodboard-item"></div>
            <div class="moodboard-item"></div>
            <div class="moodboard-item"></div>
            <div class="moodboard-item"></div>
            <div class="moodboard-item"></div>
        </div>

        <div class="moodboard">
            <div class="moodboard-item"></div>
            <div class="moodboard-item"></div>
            <div class="moodboard-item"></div>
            <div class="moodboard-item"></div>
            <div class="moodboard-item"></div>
            <div class="moodboard-item"></div>
            <div class="moodboard-item"></div>
            <div class="moodboard-item"></div>
            <div class="moodboard-item"></div>
        </div>

        <div class="moodboard">
            <div class="moodboard-item"></div>
            <div class="moodboard-item"></div>
            <div class="moodboard-item"></div>
            <div class="moodboard-item"></div>
            <div class="moodboard-item"></div>
            <div class="moodboard-item"></div>
            <div class="moodboard-item"></div>
            <div class="moodboard-item"></div>
            <div class="moodboard-item"></div>
        </div>
</template>